{% extends "base.html" %}

{% block title %}Images bookmarked{% endblock %}

{% block content %}
  <h1>Images bookmarked</h1>
  <div id="image-list">
    {% include "images/image/list_ajax.html" %}
  </div>
{% endblock %}

{% block domready %}
  var page = 1;
  var is_last_page = false;
  var block_request = false;

  $(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if  ($(window).scrollTop() > margin && is_last_page == false &&
    block_request == false) {
     block_request = true;
      page += 1;
      append_image(page,is_last_page,block_request)
    }
  });
  function append_image(page,is_last_page,block_request){
    $.get('?page=' + page, function(data) {
      if(data == '') {
         is_last_page = true;
       }
       else {
         block_request = false;
         $('#image-list').append(data);
       }
     });
  }
{% endblock %}
